/*globalne style*/ 
.body{
    font-family:"Roboto", sans-serif;
    color: var(--brand-color-slate);
    background-color: var(--brand-color-white);
}
/* zmienne  */
:root{
    --brand-color-slate:#434455;
    --brand-color-white:#FFFFFF;
    --brand-color-iris:#4D5AE5;
    --brand-color-navyblue:#2E2F42;
    --brand-color-ocean:#404BBF;
    --brand-color-cloud:#F4F4FD;
    --brand-color-cornflower:#E7E9FC;

}

.add-ress{
    list-style-type: none;
}
.list{
    list-style-type: none; 

}
 
    .link {
        text-decoration: none;
        color: var(--brand-color-navyblue);
        list-style-type: none; 
      }
      .logo {
        color: var(--brand-color-iris);
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 0,03em;
        text-decoration: none;
      }
      .link:hover {
        color: var(--link-hover);
      }
      .link:focus {
        color: var(--link-hover);
      }
      .logo-studio {
        color: var(--brand-color-navyblue);
       
      }
      
      
.primary{
     background-color:var(--brand-color-navyblue) ;    
}
.primary-title{
    text-align:center;
    color: var(--brand-color-white);
  
}

.primary-bg{
    color: var(--brand-color-white);
    background-color: var(--brand-color-iris);
    text-align: center;
    cursor: pointer;

}  
.filter-list{
    color: var(--color-accent--);
    list-style-type: none; 
    
}      

.filter-button{
    color: var(--brand-color-iris);
    background-color: var(--brand-color-cloud);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.04em;
    text-decoration: none;
    cursor: pointer; 
}
.filter-button:hover,
.filter-button:focus{
    color:var(--brand-color-white);
    background-color: var( --brand-color-ocean);

}
.footer-main{
    color: var(--brand-color-cloud);
    background-color: var(--brand-color-navyblue);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
}

.logo-footer{
    color: var(--brand-color-iris);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.logo-studio-footer{
    color: var(--brand-color-cloud);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.text-footer{
    color: var(--brand-color-cloud);
    text-transform: none;
}