/*globalne style*/ 
.body{
    font-family: "Roboto", sans-serif;

}
.periot{
    list-style-type: none; 

}
 
    .link {
        text-decoration: none;
        color: var(--text-color);
        list-style-type: none; 
      }
      .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-color);
        text-decoration: none;
      }
      .link:hover {
        color: var(--link-hover);
      }
      .link:focus {
        color: var(--link-hover);
      }
      .logo-studio {
        color: var(--text-color);
        color: #4D5AE5;
      }
      .filter-button{
        color: var(--brand-color);
        color: #4D5AE5;
      }
.primary{
     background-color: #2E2F42 ;
     width: 1440px;
     height: 600px;
}
.primary-title{
    text-align:center;
    width: 496px;
    height: 120px;
    
    color: white;
  
}

.primary-bg{
    color: var(--brand-color);
    bottom: center;
}  
.filter-list{
    color: var(--color-accent--);
    float:center;
    list-style-type: none; 
    
}      

.filter-button{
    color: #4D5AE5;
    background-color: var(--color-main--);
    font-family: inherit;
    text-decoration: none;
    cursor: pointer; 
}
.filter-button:hover{
    color:#ffffff;
    background-color: #404BBF;

}

