/*globalne style*/ 
.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;

}
/* zmienne  */
:root{
    --brand-color-slate:#434455;
    --brand-color-white:#FFFFFF;
    --brand-color-iris:#4D5AE5;
    --brand-color-navyblue:#2E2F42;
    --brand-color-ocean:#404BBF;
    --brand-color-cloud:#F4F4FD;
    --brand-color-cornflower:#E7E9FC;

}
.periot{
    list-style-type: none; 

}
 
    .link {
        text-decoration: none;
        color: var(--text-color);
        list-style-type: none; 
      }
      .logo {
        font-family: "Raleway", sans-serif;
        color: var(--brand-color);
        text-decoration: none;
      }
      .link:hover {
        color: var(--link-hover);
      }
      .link:focus {
        color: var(--link-hover);
      }
      .logo-studio {
        color: var(--text-color);
        color: #4D5AE5;
      }
      .filter-button{
        color: var(--brand-color);
        color: #4D5AE5;
      }
.primary{
     background-color: #2E2F42 ;
     
}
.primary-title{
    text-align:center;
    color: white;
  
}

.primary-bg{
    color: var(--brand-color);
    bottom: center;
}  
.filter-list{
    color: var(--color-accent--);
    list-style-type: none; 
    
}      

.filter-button{
    color: var(--brand-color-iris);
    background-color: var(--brand-color-cornflower);
    font-family: inherit;
    text-decoration: none;
    cursor: pointer; 
}
.filter-button:hover,
.filter-button:focus{
    color:var(--brand-color-white);
    background-color: var( --brand-color-ocean);

}

